[Desktop Entry]
Name=Visual Schedule
Name[sv]=Bildschema
Comment=Visual daily schedule with image support for children with autism
Comment[sv]=Visuellt dagsschema med bildstöd
Exec=bildschema
Icon=se.danielnylander.bildschema
Terminal=false
Type=Application
Categories=Education;Accessibility;
